body {
    background-color: whitesmoke;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: darkolivegreen;
    color: antiquewhite;
    padding: 10px;
    margin-top: -10px; margin-left: -10px; margin-right: -10px;
    margin-bottom: 5px;
}
h1.header {
    padding-left: 5px;
}
.container {
    padding: 30px;
    margin-top: 50px; margin-right: auto;
    float: right;
    width: 42%;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    border-width: 2px;
}
.inputs {
    padding: 2px;
    margin: 2px;
    font-size: 18px;
}
#username:focus {
    background-color: rgb(157, 168, 139);
    color: black;
}
#password:focus {
    background-color: rgb(157, 168, 139);
    color: black;
}
.buttonss{
    font-size: 18px;
    margin-top: 10px;
}
span.psw {
    float: right;
    padding-top: 16px;
}  
#about {
    float: left;
    width: 50%;
    padding: 20px;
}
#cancel {
    margin-top: 20px;
}

.instagram{
	background: url('imgs/sprites.png') no-repeat -46px -58px;
	width: 204px;
	height: 204px;
    transform: scale(30%);
    position:relative; right: 30px; 
}
.instagram:hover{
    cursor:pointer;
}
.facebook{
    background: url('imgs/sprites.png') no-repeat -581px -58px;
	width: 204px;
	height: 204px;
    transform: scale(30%);
    position: relative; right: 160px;
}
.facebook:hover{
    cursor:pointer;
}